<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	
	<Properties>
	    <Property name="filename">./logs</Property>
	</Properties>

	<Appenders>
		
		<!-- RollingFile Appender : storing logs into file -->
		<RollingFile name="file"
			fileName="${filename}/logdemo.log"
			filePattern="${filename}/logdemo-%d{HH-mm-ss-SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="1 KB" />
		</RollingFile>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
	
		<!-- Specific package Level additivity = "false" will remove twice log display-->
		<Logger name="pack2" level="info" additivity="false">
		
		<!-- If we want logs to both console and to the file mention both -->
			<AppenderRef ref="Console"/>
			<AppenderRef ref="file"/>
		</Logger>
		
			
		<!-- Root : whole project Level -->
		<Root level="fatal">
		   <AppenderRef ref="Console"/>
			<AppenderRef ref="file"/>
		</Root>
	</Loggers>
</Configuration>